* {
    padding: 0;
    margin: 0;
    border: 1px solid red;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #fff;
}

#header {
    background: #1F2937;
    margin: 0 auto;

}

#header-main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 1200px;
    align-items: center;
}

#header-content {
    display: flex;
}

#header-nav {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin-top: 1rem;
}

#header-nav-logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

#header-nav-links ul {
    display: flex;
    flex-direction: row;
    font-size: 18px;
}

#header-nav-links ul li {
    padding: 0 1rem;
}